html,
body {
  height: 100%;
  background-color: white;
  font-family: Roboto !important;
  overflow-x: hidden;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
html,
body,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
